<h1>Dev Ops</h1>
<article>
  <h2><a href="https://github.com/shibusa/cluster">Cluster</a></h2>
  <div class ="ratio">
    <a href="https://github.com/shibusa/cluster"><img src="https://raw.githubusercontent.com/shibusa/cluster/master/clusterdemo.png" alt="Cluster Demo"></a>
  </div>
  <p>Multithreaded Cisco IOS cluster deployment tool written in Python using NAPALM library.</p>
  <p>Cluster helps cut down network infrastructure deployments significantly by being able to push configs to multiple devices in parallel.  Using Cluster for deployments also simplifies architectural complexity by templatizing device clusters.</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/networklab">Hierarchical Network</a></h2>
  <div class="ratio">
    <a href="https://github.com/shibusa/networklab"><img src="https://raw.githubusercontent.com/shibusa/networklab/master/networktopology.png" alt="Network Topology"></a>
  </div>
  <p>Hierarchical network topology designed and deployed in GNS3 using c3725 images and <a href="https://github.com/shibusa/cluster">Cluster</a>.</p>
  <p>Main topology (excluding management network) designed with redundancy across all layers.  Access layer requires bonded interfaces set on host level and secondary access switch pair for full redundancy.  Distribution layer acts as VRRP gateway for access layer and connects to core layer with OSPF.  Distribution node x0 acts as RSTP primary root bridge with node x1 as secondary root bridge.  Each distribution node has OSPF multipath enabled with paths to each core node on a seperate network range.  Each core node acts as a designated router for the respective network range.</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/webcluster">Automated Web Cluster Deploy</a><h2>
  <div class="ratio">
    <a href="https://github.com/shibusa/webcluster"><img src="https://raw.githubusercontent.com/shibusa/webcluster/master/webcluster.png" alt="Web Cluster"></a>
  </div>
  <p>Web cluster designed and deployed with <a href="https://www.vagrantup.com">Vagrant</a> and <a href="https://www.virtualbox.org">Virtualbox</a>.  Deploy focuses on automating spin up time for the <a href="https://github.com/shibusa/ghquery">GitHub Query</a> project and decoupling core components in preparation of scalability and high availability.</p>
  <p><a href="https://nginx.org/en/">nginx</a> is used to respond to and loadbalance end user HTTP traffic.  It is also used to serve up front end static content.  The traffic is then passed to the webapp nodes running <a href="https://www.djangoproject.com">Django framework</a> and <href="https://uwsgi-docs.readthedocs.io/en/latest/#">uWSGI</a>.  Django is used to run the core logic of the webapp and uWSGI is used to take end user requests from the HTTP servers and pass it to Django.  Webappnodes then communicate with the <a href="https://www.postgresql.org">PostgreSQL database</a> for the apps' data.</p>
  <p>Additional nodes to be put in on both the HTTP server layer as well as database layer to eliminate single points of failure.</p>
</article>
