<h1>Other</h1>
<article>
  <h2><a href="https://github.com/shibusa/multihost_v2">multihost v2</a></h2>
  <p>BASH query tool written in Python.</p>
  <p>multihost is designed to do quick queries across large infrastructures.  The tool is used to audit configuration inconsisties across multiple UNIX systems in pass.  This is the inspiration for the <a href="https://github.com/shibusa/bastion">Bastion project</a>.</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/networkconfig">networkConfig</a></h2>
  <div class="ratio">
    <iframe src="https://www.youtube.com/embed/ElWGqvoCKp8?rel=0;autohide=1;showinfo=0;color=white;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="note">Best viewed in fullscreen.</p>
  <p>Vendor neutral network device configurator written in Python.</p>
  <p>networkConfig is designed to minimize time to write a config file for a network device.  End users are provided the flexibility to configure the tool to allow for network device vendors of all sorts (Cisco, Juniper, etc.).</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/vagrantlab">Vagrant Lab </a></h2>
  <p>Repo contains <a href="https://www.vagrantup.com">Vagrant</a> clusters and BASH scripts to quickly spin up fully configured virtual machines in minutes.  This is to test out new infrastructure designs and software, develop new tools, and continually improve on automation.</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/vboxvsrx">Juniper vSRX VirtualBox script</a></h2>
  <p>Based off of <a href="https://www.youtube.com/watch?v=SLU9DBj_zt0">Juniper's guide for creating a vSRX lab machine in VirtualBox</a>.  This automates the post Virtual Machine creation procedures outlined in the post <a href="https://youtu.be/SLU9DBj_zt0?t=4m">4 minute mark</a> for BASH enabled systems.</p>
  <p>The vSRX is a fantastic sandbox for those interested in getting familiar with the JunOS command line and better understanding virtualized networking.</p>
</article>
