<h1>Tools</h1>

<article>
  <h2><a href="https://github.com/shibusa/networkconfig">networkConfig</a></h2>
  <div class="ratio">
    <!-- CHANGE YOUTUBE LINK -->
    <iframe src="https://www.youtube.com/embed/ElWGqvoCKp8?rel=0;autohide=1;showinfo=0;color=white;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="note">Best viewed in fullscreen.</p>
  <p>Vendor agnostic network device configurator written in Python.</p>
  <p>networkConfig is designed to minimize basic configuration time of network devices.  End users are provided the flexibility to configure the tool to allow for network device vendors of all sorts (Cisco, Juniper, etc.).</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/multihost">multihost</a></h2>
  <div class="ratio">
    <iframe src="https://www.youtube.com/embed/MpfbppLUYtA?rel=0;autohide=1;showinfo=0;color=white;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="note">Best viewed in fullscreen.</p>
  <p>BASH query tool written in Python.</p>
  <p>multihost is designed to do quick queries across large infrastructures.  The tool is used to audit configuration inconsisties across 1000+ UNIX systems in pass.  This is the inspiration for the Bastion project.</p>
</article>
