<h1>Web Stack</h1>

<article>
  <h2><a href="https://github.com/shibusa/bastion">Bastion</a></h2>
  <div class="ratio">
    <iframe src="https://www.youtube.com/embed/kEK51jJxE8A?rel=0;autohide=1;showinfo=0;color=white;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="note">Best viewed in fullscreen.</p>
  <p>Multi UNIX host script deployment web console written in Javascript.  Bastion uses the Node.js runtime environment, Express framework for the backend, Angular framework for the front end, and ssh-key authentication over OpenSSH for code deployment.</p>
  <p>Bastion is built to cut down deploy time and data retrieval across 100+ host infrastructures.  Scripts of any language is useable in conjunction with Bastion as long as the end hosts have the necessary interpreter installed.  Currently only supports UNIX based distributions.</p>
</article>

<article>
  <h2><a href="https://github.com/shibusa/resonance">Resonance</a></h2>
  <div class="ratio">
    <img src="https://raw.githubusercontent.com/shibusa/resonance/master/resonance.png" alt="Resonance" width="50%">
  </div>
  <p>Multisite health check dashboard written using the MEAN (Mongo, Express, Angular, Node.js) stack.</p>
  <p>Pollers will check endpoints via ICMP requests to determine if a host is reachable or not. Data is then visualized via Google Maps API on the front end dashboard.  Resonance is written to work in a dsitributed manner.  Poller logic and web server act as independent processes of one another.   This allows the tool to scale for multiple end user conenctions with web load balancers and multiple polling end points with additional poller nodes.</p>
</article>
